
@{
    ViewBag.Title = "PasswordSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="">
        <form id="frmMachineSchedule">
            <div class="widget-main">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group"></div>
                        <label for="form-field-8">Password Limit <span style="color:red;">*</span></label>
                        <select id="PasswordLimit" name="PasswordLimit" class="form-control">
                            <option value="0">Select</option>
                            <option>6</option>
                            <option>8</option>
                            <option>10</option>
                        </select>
                        <label class="error" for="PasswordLimit" id="PasswordLimit_error" style="color:red;" hidden>Select Password Limit.</label>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"></div>
                        <label for="form-field-9">Password Security <span style="color:red;">*</span></label>
                        <select id="PasswordSecurity" name="PasswordSecurity" class="form-control">
                            <option value="0">Select</option>
                            <option>UpperCase</option>
                            <option>LowerCase</option>
                            <option>Digit</option>
                            <option>UpperCase,LowerCase</option>
                            <option>UpperCase,LowerCase,Digit</option>
                            <option>UpperCase,LowerCase,Special Character</option>
                            <option>UpperCase,LowerCase,Special Character,Digit</option>
                        </select>
                        <label class="error" for="PasswordSecurity" id="PasswordSecurity_error" style="color:red;" hidden>Select Password Security.</label>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"></div>
                        <label for="form-field-11">Password Age(Expire): <span style="color:red;">*</span></label>
                        <select id="PasswordSecurity" name="PasswordSecurity" class="form-control">
                            <option value="0">Select</option>
                            <option>30 days</option>
                            <option>60 days</option>
                            <option>90 days</option>
                        </select>
                        <label class="error" for="PasswordSecurity" id="PasswordSecurity_error" style="color:red;" hidden>Enter Password Age(Expire).</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group"></div>
                        <label for="form-field-8">Password Age Notify<span style="color:red;">*</span></label>
                        <select id="PasswordAgeNotify" name="PasswordAgeNotify" class="form-control">
                            <option value="0">Select</option>
                            <option>Before 3 days</option>
                            <option>Before 5 days</option>
                            <option>Before 7 days</option>
                        </select>
                        <label class="error" for="PasswordAgeNotify" id="PasswordAgeNotify_error" style="color:red;" hidden>Select Password Age Notify.</label>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"></div>
                        <label for="form-field-9">Password Attempt Limit <span style="color:red;">*</span></label>
                        <select id="PasswordAttemptLimit" name="PasswordAttemptLimit" class="form-control">
                            <option value="0">Select</option>
                            <option>3 times</option>
                            <option>5 times</option>
                        </select>
                        <label class="error" for="PasswordAttemptLimit" id="PasswordAttemptLimit_error" style="color:red;" hidden>Select Password Attempt Limit.</label>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group"></div>
                        <label for="form-field-8">Password Reopen <span style="color:red;">*</span></label>
                        <select id="PasswordReopen" name="PasswordReopen" class="form-control">
                            <option value="0">Select</option>
                            <option>After 24 Hours</option>
                            <option>Admin Control</option>
                        </select>
                        <label class="error" for="PasswordReopen" id="PasswordReopen_error" style="color:red;" hidden>Select Password Reopen.</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group"></div>
                        <label for="form-field-8">Password History Store Limit<span style="color:red;">*</span></label>
                        <select id="PasswordHistoryStoreLimit" name="PasswordHistoryStoreLimit" class="form-control">
                            <option value="0">Select</option>
                            <option>Last 3</option>
                            <option>Last 5 </option>
                        </select>
                        <label class="error" for="PasswordHistoryStoreLimit" id="PasswordHistoryStoreLimit_error" style="color:red;" hidden>Select Password History Store Limit.</label>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group"></div>
                        <label for="form-field-9">Auto Logout After Timeout <span style="color:red;">*</span></label>
                        <select id="AutoLogout" name="AutoLogout" class="form-control">
                            <option value="0">Select</option>
                            <option>5 min</option>
                            <option>10 min</option>
                        </select>
                        <label class="error" for="AutoLogout" id="AutoLogout_error" style="color:red;" hidden>Select Auto Logout After Timeout.</label>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group"></div>
                        <input type="checkbox" id="LoginforAllAction" name="LoginforAllAction" value="Login for All Action">
                        <label for="LoginforAllAction"> Login for All Action</label><br>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group"></div>
                        <input type="checkbox" id="PasswordInLogout" name="PasswordInLogout" value="Password In Logout">
                        <label for="PasswordInLogout"> Password In Logout</label><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="margin-top: 20px">
                        <div>
                            <button class="btn btn-success pull-right" onclick="submitSchedule()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

