@{
    ViewBag.Title = "Home Page";
}
@*Added By Zuber Khan On 21-08-2020*@
<div id="calendarMonth" class="col-sm-12"></div>

<script>
    $('#calendarMonth').fullCalendar({
        buttonHtml: {
            prev: '<i class="ace-icon fa fa-chevron-left"></i>',
            next: '<i class="ace-icon fa fa-chevron-right"></i>'
        },
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month'
            //right: 'month,agendaWeek,agendaDay'
        },
    });
</script>
@*---------------------------------------------------------------------*@