
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-5">
        <input type="hidden" id="MasterExcel_Id" name="MasterExcel_Id" class="form-control" placeholder="" />
        <label for="form-field-8">Upload Excel <span style="color:red;">*</span></label>
        <input type="text" id="FileName" name="FileName" class="form-control" placeholder="" />
        <input type="file" id="FileName" name="FileName" multiple />
        <label class="error" for="MachineId" id="MachineId_error" style="color:red;" hidden>Select File.</label>
    </div>

    <button type="button" class="btn btn-info pull-right" onclick="FileSubmit()">Add Excel</button>
</div>


<div class="modal-body no-padding" style="background-color:white;">

    <fieldset>
        <legend>Master File List</legend>

        <div style="margin-top: 15px !important">
            <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                <thead>
                    <tr>
                        <th style="width: 160px !important;">Action</th>
                        <th hidden>ID</th>
                        <th>File Name</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in ViewBag.Mlist)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-minier btn-white btn-info btn-bold" onclick="OpenExcel(@item.MasterExcel_Id)" title="Open Service">Open</button>
                            </td>
                            <td hidden>@item.MasterExcel_Id</td>
                            <td>@item.FileName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<script type="text/javascript">

        function loadTable() {
            location.reload(true);
        }

        var filename = "";
        $('input[type="file"]').change(function (e) {
            filename = e.target.files[0].name;
            // alert('The file "' + filename + '" has been selected.');
        });

        function FileSubmit() {
            excelm = {}
            excelm.FileName = filename;
            console.log(filename);
            $.post("/ExcelMaster/ExcelCreation", excelm, function (result) {
                loadTable();
                if (result == "Save Success") {
                    $("#Save-alert").fadeTo(2000, 5000).slideUp(5000, function () {
                        $("#Save-alert").slideUp(5000);
                    });
                } else {
                    $("#Update-alert").fadeTo(2000, 5000).slideUp(5000, function () {
                        $("#Update-alert").slideUp(5000);
                    });
                }
            })
    }

    function OpenExcel(id) {
        $('#DivwaitingTreatment').removeClass('hide')
        var id = { id: id };
        $.get("/ExcelMaster/ExcelEdit", id, function (result) {
            console.log(result);
            $('#modal-Department').modal('toggle');
            $('#MasterExcel_Id').val(result.MasterExcel_Id);
            $('#FileName').val(result.FileName);
            window.open("data:application/excl,", result.FileName)
        }

</script>
